.select-parent{
    max-width: 300px;
    width: 300px;
    position: relative;
}
.select-parent .options-parent{
    background:#fff;
    position: absolute;
    width: 100%;
    border-radius: 5px;
    top: 53px;
    overflow: hidden;
}
.select-parent .options-parent .option{
    padding: 10px;
    border-top: 1px solid #eee;
    cursor: pointer;
}
.select-parent .options-parent .option:first-child{
    border: none;
}
.select-parent .options-parent .option:hover{
    background: dodgerblue;
    color: white;
}
.select-parent .input-wrapper{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.select-parent .selected-parent{
    display: flex;
}
.select-parent .input-wrapper input{
    padding: 10px;
    height: 50px;
    outline: none;
    border: none;
    box-sizing: border-box;
    background: #eee;
    flex: 1;
}
.select-parent .selected-parent .selected{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    /* color: dodgerblue; */
    /* border-radius: 5px; */
    border-right: 1px solid #eee;
    cursor: pointer;
    height: 50px;
    transition: all 0.2s ease;
}
.select-parent .selected-parent .selected:hover{
    background: dodgerblue;
    color: white;
}
.select-parent .input-wrapper .clear{
    /* border: 1px solid green; */
    flex: 1;
    text-align: center;
    color: dodgerblue;
    cursor: pointer;
}

@media (hover: none) {
    .select-parent .selected-parent .selected{
        background: transparent;
        color: dodgerblue;
    }
}