* {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.filesystem-wrapper{
    max-width: 300px;
    width: 300px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    
    li{
        padding: 20px 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #333;
    }
    ul{
        background: #fff;
        border-bottom: 1px solid #eee;
        transition: all 0.3s ease;
        
        &:last-child{ border: none}
        
        li.expanded {
            background: #59a985;
            color: white;
        }
        li[data-level="10"].expanded ~ ul {
            background: #f8efdb;
            border-bottom: 1px solid #ece0c5;
        }
        li[data-level="20"].expanded {
            background: #5968a9;
        }
        li[data-level="20"].expanded ~ ul {
            background: #fdf6e7;
        }
        li[data-level="20"] span.count {
            color: #999;
        }
    }
    span.count{
        display: flex;
        justify-self: flex-end;
        margin-left: 20px;
        font-size: 0.8rem;
        color: #ccc;
    }
    li .icon-wrapper{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        /* border: 1px solid red; */
    }
    .icon{
        color: #59a985;
    }
    .icon-gray{
        color: #ccc;
    }
    li.expanded .icon{
        color: white;
    }
}

@media (hover: none) {
    /* .sidebar-parent ul li:hover { background: inherit; } */
}