@import "../../variables";

.filesystem-wrapper{
    // width: $component-width;
    background: $clr-darkgray-2;
    border-radius: 5px;
    overflow: hidden;
    transition: height 0.3s ease;
    
    section{
        @include transition();
        border-bottom: 1px solid $clr-darkgray-3;
        &:last-child{ border: none}
        
        &.expanded {
            color: white;
            background-color: $clr-darkgray-25;
            
            > div.info{ 
                background-color: $clr-blue;
            }
            .icon{ color: white;}
        }
        
        &[data-level="2"].expanded {
            background-color: $clr-darkgray-3;

            div.info{
                border-top: 1px solid $clr-darkgray-2;
                // .circle{ background-color: $clr-green}
            }
            > div.info{ // header
                background-color: $clr-darkgray-4;
                border-top: 1px solid $clr-darkgray-2;
                span:not(.name){
                    color: $clr-green;
                }
            }
        }

        // &[data-level="30"].expanded {} [if needed...] 
        
        .info{
            display: flex;
            height: 60px;
            align-items: center;
            cursor: pointer;
            color: #ccc;
            // padding: 20px 0;
            // @include border(blue);

            svg {
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 12px;
                stroke: $clr-green;
                &.icon-gray{
                    color: #ccc;
                }
            }
            .circle{
                width: 10px;
                height: 10px;
                background-color: $clr-blue;
                margin-right: 12px;
                border-radius: 50%;
            }
            span.count{
                margin-left: 20px;
                font-size: 0.8rem;
                color: $clr-gray;
            }
        }
    }

}