.plans-wrapper{
    background: #212127;
    color: #fff;
    width: 350px;
    padding: 20px;
    border: 1px solid #373741;
    box-shadow: 0px 20px 30px #00000057;
}
.plans-wrapper .top-info {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    font-size: 0.8rem;
}
.plans-wrapper .top-info .icon {
    display: flex;
    margin-left: auto;
    color: #aaa;
    cursor: pointer;
}
.plans-wrapper ul.plans {
    overflow: hidden;
    border: 1px solid #3d3d47;
}
.plans-wrapper ul.plans li {
    display: grid;
    gap: 10px;
    grid-template-columns: 27px 40px 1fr 60px;
    font-size: 0.75rem;
    color: var(--lightgray);
    align-items: center;
    border-bottom: 1px solid #3d3d47;
    padding: 8px 10px;
    cursor: pointer;
}
.plans-wrapper ul.plans li:last-child {
    border-bottom: none;
}
.plans-wrapper ul.plans li.selected {
    color: var(--darkgray);
    background: var(--bg);
    /* border: 1px solid var(--violet); */
}
.plans-wrapper ul.plans li.inactive {
    grid-template-columns: 50px 1fr 70px;
    color: var(--darkgray);
    background: var(--bg);
}
.plans-wrapper ul.plans li div {
    flex: 1;
}
.plans-wrapper ul.plans li .size {
    font-weight: bold;
    /* font-family: sans-serif; */
}
.plans-wrapper ul.plans li .price  {
    display: flex;
    flex-direction: column;
    color: var(--darkgray);
    align-items: flex-end;
}
.plans-wrapper ul.plans li .price span:last-child {
    display: block;
    font-size: 0.6rem;
    margin-top: 2px;
    color: var(--darkergray);
}