@import "../../variables";

.mixed-chart{
    margin-bottom: 40px;
    padding: 20px 20px 0 0;
    box-shadow: 10px 20px 40px rgb(223, 223, 223);
}
.select-wrapper{
    width: 100%;
    flex-shrink:0;
    z-index: 999;
    /* border: 1px solid red; */
    margin-bottom: 20px;
}
.pagination-wrapper{
    width: 40%;
    
    ul{
        flex: 1;
        display: flex;
        justify-content: space-evenly;
        
        li{
            width: 60px;
            height: 50px;
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            transition: all 0.5s ease;
            font-size: 0.8rem;
            color: var(--darkgray);
            
            svg{
                width: 100%;
                height: 100%;
                // color: $clr-blue;
                stroke: $clr-gray-3;
                transition: all 0.5s ease;
            }
            
            &.disabled{
                border-color: #e9e9e9;
                pointer-events: none;
                
                svg{
                    color: #e9e9e9;
                    stroke: #e9e9e9;
                }
            }
        }
    }
}

$chart-height: 300px;

.demo-chart-wrapper{
    display: flex;
    flex-direction: column-reverse;

    .right-section, .left-section{
        @include border($clr-darkgray-3);
        @include borderRadius;
        // padding: 10px;
        // flex: 1;
    }

    .left-section.controls-wrapper{
        display: grid;
        margin-top: 20px;

        .control-container{  
            display: grid;
            align-content: center;

            &:last-child{margin-bottom: 0;}

            .info{
                display: flex;
                margin-bottom: 5px;
                color: $clr-gray;
                font-size: 0.9rem;
                
                > div:last-child{
                    margin-left: auto;
                    text-align: right;
                }
            }
            .slider{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-radius: 100px;
                margin-bottom: 10px;
                position: relative;
                cursor: pointer;
                padding: 7px 0;

                .bar{
                    overflow: hidden;
                    width: 100%;
                    height: 5px;
                    border-radius: 5px;
                    overflow: hidden;
                    background-color: $clr-darkgray-4;

                    .progress{
                        width: 100%;
                        height: 100%;
                        transform-origin: left center;
                        // background-color: white;
                        // background: linear-gradient(to right, $clr-darkgray-4, $clr-gray);
                    }
                }
                .handle{
                    width: 25px;
                    height: 25px;
                    border-radius: 20px;
                    position: absolute;
                    border-radius: 50%;
                    background: white;
                    @include boxShadow($blur: 10px);
                    cursor: pointer;
                }
            }
        }

        button {
            @include useButton(
                $has-icon: true, 
                $bgColor: $clr-darkgray-2, 
                $iconColor: $clr-green
            )
        }

        @include sm {
            .control-container .slider{
                margin-bottom: 20px;
            }
        }

    }

    .right-section.demo-chart-container{
        padding-top: 20px;
        overflow: hidden;
        
        @mixin _yaxis{
            display: flex;
            height: $chart-height;
            flex-direction: column;
        }

        .y-axis{ display: none }
        .graph .bar::before, .x-axis > div { font-size: 0.5rem }
        
        @include sm {
            .graph .bar::before, .x-axis > div { font-size: 0.6rem; }
        }
        
        @include md {
            display: grid;
            grid-template-columns: 60px 1fr 100px;
            
            .y-axis{
                @include _yaxis;
                grid-row: 1 / span 2;
                
                > div {
                    flex: 1;
                    display: grid;
                    justify-content: end;
                    color: $clr-gray;
                    font-size: 0.8rem;
                    padding-right: 10px;
                }
            }
            .graph .bar::before, .x-axis > div { font-size: 0.7rem; }
        }
        
        .graph{
            height: $chart-height;
            grid-column: 2 / span 2;
            position: relative;
            
            .bar-container{
                display: flex;
                align-items: flex-end;
                justify-content: center;
                z-index: 2;

                .bar {
                    background: linear-gradient( $clr-lightblue, $clr-blue);
                    
                    &.red{
                        background: linear-gradient( $clr-red, $clr-blue);
                    }

                    &::before{
                        color: white;
                        content: attr(data-amount);
                        position: relative;
                        top: -20px;
                    }
                }
            }

            .gridlines-container{
                @include _yaxis;
                position: absolute;
                width: 100%;
                z-index: 1;
                left: 0;
                top: 0;
                
                .gridline{
                    flex: 1;
                    border-top: 1px solid $clr-darkgray-4;
                }
            }

        }

        .x-axis{
            height: 30px;
            grid-column: 2 / span 2;
            display: flex;

            > div{
                flex: 1;
                color: $clr-gray;
                display: grid;
                place-items: center;
            }
        }

        .y-axis, .graph{
            border-bottom: 2px solid $clr-darkgray-3;
        }
    }

    @include sm {
        width: 460px;
    }

    @include md {
        @include borderRadius;
        @include border($clr-darkgray-3);
        flex-direction: row;
        padding: 20px;
        width: 100%;

        .right-section, .left-section{
            padding: 5px 20px;
        }
        .left-section.controls-wrapper{ flex: 1; margin: 0; margin-right: 20px;}
        .right-section{ flex: 2.5}
    }
}
