* {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.nav-wrapper{
    background: rgb(126, 191, 255);
    padding: 20px;
}
.sidebar-parent{
    padding: 20px 10px;
    max-width: 350px;
    box-shadow: rgba(45, 80, 146, 0.493) 0px 20px 40px;
    border-radius: 10px;
    background: #fff;
}
.sidebar-parent ul, .sidebar-parent li{
    padding: 10px;
}
.sidebar-parent ul.parent{
    height: 40px;
    overflow: hidden;
    border: 1px solid darkseagreen;
    padding-bottom: 0;
    padding-top: 0;
    transition: all 1s ease;
}
.sidebar-parent ul.parent.expanded{
    height: inherit;
    overflow: auto;    
}
.sidebar-parent li {
    cursor: pointer;
}
.sidebar-parent li:hover{
    background: dodgerblue;
    color: white;
}