* {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.nav-wrapper{
    padding: 20px;
}
.sidebar-parent{
    max-width: 300px;
    box-shadow: rgba(5, 5, 5, 0.2) 0px 20px 40px;
    /* box-shadow: rgba(45, 80, 146, 0.493) 0px 20px 40px; */
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    margin-bottom: 30px;
}
.sidebar-parent li{
    padding: 20px 0;
    display: flex;
    align-items: center;
}
.sidebar-parent span.count{
    display: flex;
    justify-self: flex-end;
    margin-left: 20px;
    color: #ccc;
    font-size: 0.8rem;
}
.sidebar-parent ul{
    background: #fff;
}
.sidebar-parent li[data-level="10"] ~ ul{
    background: rgb(234, 243, 248);
    border: none;
}
.sidebar-parent li[data-level="30"] ~ ul{
    background: rgb(214, 219, 223);
    border: none;
}
/* .sidebar-parent li.dot::after {
    background: #fff;
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 50%;
    background: rgb(73, 189, 38);
} */
.sidebar-parent li.arrow::after {
    background: #fff;
    content: '';
    width: 8px;
    height: 8px;
    /* display: inline-block; */
    margin-left: 20px;
    border-top: 3px solid rgb(73, 189, 38); 
    border-right: 3px solid rgb(73, 189, 38);
    transform: rotate(45deg); 
    background: transparent;
    transition: all 0.2s ease;
}
.sidebar-parent li.arrow.expanded::after {
    transform: rotate(135deg);
    margin-bottom: 4px;
}
.sidebar-parent li.arrow.expanded,
.sidebar-parent ul li:hover {
    background: dodgerblue;
    color: white;
}
.sidebar-parent ul{
    border-bottom: 1px solid #f7f7f7;
    transition: all 0.3s ease;
}
.sidebar-parent ul:last-child{
    border: none;
}
.sidebar-parent li {
    cursor: pointer;
}
@media (hover: none) {
    .sidebar-parent ul li:hover { background: inherit; color: inherit; }
}