@import "../../variables";

$height: 60px;
$bg: #eee;

@mixin tagStyles() {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    transition: all 0.2s ease;
    cursor: pointer;

    .circle{
        width: 15px;
        height: 15px;
        margin-right: 10px;
        border-radius: 100%;
    }

    > div {
        color: $clr-darkblue;
    }
}

.select-parent{
    position: relative;
    max-width: $component-width;
    // @include border(red);
    
    .input-wrapper{
        width: 100%; // to avoid overgrowth
        display: flex;
        height: $height !important; // important
        background: $bg;
        padding: 0px 10px;
        align-items: center;
        @include borderRadius();
       
        .selected-parent, input{
            display: flex;
            height: calc(#{$height} - 10px);
        }

        .selected-parent{            
            .selected{
                height: 100%;
                @include tagStyles();
                @include borderRadius();
                @include border(gray);
                margin-right: 10px;
                background: #fff;
            }
        }

        .input{
            flex: 1 1 auto;

            input{
                width: 100%;
                padding: 0 10px;
                outline: none;
                border: none;
                background: $bg;
                font-size: 1.2rem;
                box-sizing: border-box;
    
                &::placeholder{
                    font-size: 1.1rem;
                    color: $clr-gray-2;
                }
            }
        }

        .search{
            display: grid;
            place-items: center;
            color: $clr-gray-3;
            cursor: pointer;
            margin-left: auto;

            svg{
                width: 35px;
                height: 35px;
            }
        }
    }
    
    .options-parent{
        width: 100%;
        cursor: pointer;
        background:#fff;
        position: absolute;
        top: calc(#{$height} + 5px);
        @include borderRadius();
        overflow: hidden;
        z-index: 999;
        
        .option{
            @include tagStyles();
            padding: 15px 10px;
            color: $clr-darkblue;
            
            &:hover{
                background-color: rgb(231, 238, 245);
            }
        }
    }
}

@media (hover: none) {
    .select-parent .selected-parent .selected{
        background: transparent;
        color: dodgerblue;
    }
}