@import "../../variables";

$height: 60px;

@mixin tagStyles {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    transition: all 0.2s ease;
    cursor: pointer;
    background: $clr-darkgray-2;

    .circle{
        width: 15px;
        height: 15px;
        margin-right: 10px;
        border-radius: 100%;
        // @include border($clr-darkgray-4);
    }

    > div {
        color: white;
    }
}

.select-parent{
    position: relative;
    
    .input-wrapper{
        width: 100%; // to avoid overgrowth
        display: flex;
        height: $height !important; // important
        background: $clr-darkgray-2;
        padding: 0px 10px;
        align-items: center;
        @include borderRadius;
       
        .selected-parent, input{
            display: flex;
            height: calc(#{$height} - 10px);
        }

        .selected-parent{            
            .selected{
                height: 100%;
                @include tagStyles;
                @include borderRadius;
                @include border(gray);
                margin-right: 10px;
                background: $clr-darkgray-2;
            }
        }

        .input{
            flex: 1 1 auto;

            input{
                width: 100%;
                padding: 0 10px;
                outline: none;
                border: none;
                background: transparent;
                font-size: 1.2rem;
                box-sizing: border-box;
                color: white;
    
                &::placeholder{
                    font-size: 1.1rem;
                    color: $clr-gray-2;
                }
            }
        }

        .search{
            display: grid;
            place-items: center;
            color: $clr-gray-3;
            cursor: pointer;
            margin-left: auto;

            svg{
                width: 35px;
                height: 35px;
            }
        }

    }
    
    .circles-wrapper{
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 20px 0;
        
        .circles-container{
            padding: 10px;
            @include centerItemsFlex();
            background-color: $clr-darkgray-3;
            @include borderRadius();
            @include boxShadowDark();
            flex-wrap: wrap;

            > div{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin: 1px;
            }
        }
    }
    
    .options-parent{
        width: 100%;
        cursor: pointer;
        position: absolute;
        top: calc(#{$height} + 5px);
        transform-origin: center top;
        @include borderRadius;
        @include border($clr-darkgray-4);
        @include boxShadowDark;
        overflow: hidden;
        z-index: 999;
        
        .option{
            @include tagStyles;
            border-bottom: 1px solid $clr-darkgray-4;
            padding: 15px 10px;
            color: white;

            &:last-of-type{
                border: none;
            }
            
            &:hover{
                background-color: $clr-darkgray-3;
            }
        }
    }
}

@media (hover: none) {
    .select-parent .selected-parent .selected{
        background: transparent;
        color: dodgerblue;
    }
}