@import "../../variables";

.layouts-wrapper{
    gap: 50px;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 2fr;
    @include border($clr-darkgray-3);
    @include borderRadius();
    // background: $clr-darkgray-2;

    .right-section{
        .grid-parent{
            padding: 20px;
            @include border($clr-darkgray-3);
            @include borderRadius();
        }
    }

    .grid-parent{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 120px;
        cursor: pointer;
        gap: 10px;

        .grid-child{
            @include borderRadius();
            background: $clr-darkgray-2;
            place-items: center;
            display: grid;
        
            &.selected{
                // @include boxShadowDark();
                background-color: $clr-red;
                @include border($clr-darkgray-3)
            }
        }
    }
    
    .left-section{
        h3{ margin-bottom: 20px }
        
        .thumbnails{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
            
            .grid-parent{
                @include transition();
                @include border($clr-darkgray-3);
                grid-auto-rows: 25px;
                overflow: hidden;
                gap: 2px;

                &.active{
                    border-color: $clr-red;
                    .grid-child.selected{
                        background-color: $clr-red;
                    }
                }
                
                &:hover{
                    border-color: $clr-red;
                }

                .grid-child{
                    @include transition();
                    border-radius: 0;
                    &.selected{
                        background-color: $clr-darkgray-3;
                    }
                }
            }
        }
    }
}