@import "../variables";

.header{
    @include maxWidth();
    color: #fff;
    margin-top: 100px;
    margin-bottom: 80px;
    
    .main-title{
        font-size: 4rem;
        @include montserrat();
        color: $clr-lightgreen;
        line-height: 2.8ch;
        letter-spacing: -0.1em;
        margin-bottom: 30px;
        // @include border(red);
    }
    .main-description{
        width: 800px;
        font-size: 1.5rem;
        @include openSans();
        font-weight: normal;
        // letter-spacing: -0.025em;
        color: $clr-gray;

        i {
            color: $clr-red;
            margin-right: 10px;
        }
    }
}
.pages{
    @include maxWidth();
    margin-bottom: 50px;
    margin-top: 60px;
    
    // Group components in two
    section {
        margin: 30px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        
        .content {
            // @include border(green);
            margin-bottom: 20px;
            
            &.grid-span-2{
                @include border(green);
                grid-column: 1 / span 2;
            }

            h4{
                color: #fff;
                margin-bottom: 5px;
            }
            p{
                color: #999;
                font-size: 0.8rem;
                line-height: 1.2rem;
                margin-bottom: 15px;
                width: $component-width;
            }
        }
    }
    
}