.pages{
    padding: 20px 30px;
    margin: 0 auto;
    padding-bottom: 200px;
    box-sizing: border-box;
    min-width: 350px;
    max-width: 420px;
}
.pages section {
    margin: 40px 0;
    /* border: 1px solid red; */
}
.pages .content {
    margin: 20px 0;
}
.pages .content h2{
    color: var(--darkergray);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight:800;
    letter-spacing: 0.1rem;
    margin-bottom: 5px;
}
.pages .content h2 .icon{
    margin-right: 5px;
}
.pages .content p{
    color: #999;
    font-size: 0.8rem;
    width: 85%;
    line-height: 1.2rem;
}