._carousel{
    width: 300px;
    height: 200px;
    padding: 25px 0;
    position: relative;
    background: #233b6e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
}
._carousel .indicators-wrapper {
    width: 180px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}
._carousel .indicators-wrapper .indicator {
    display: flex;
    flex: 1;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.4s ease;
    align-items: center;
    justify-content: center;
}
._carousel .indicators-wrapper .indicator div {
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: #415f9d;
}
._carousel .indicators-wrapper .indicator.selected{
    flex: 3;
}
._carousel .indicators-wrapper .indicator.selected div{
    background: var(--green);
}

._carousel .slides-wrapper {
    width: 200px;
    height: 70%;
    overflow: hidden;
    box-shadow: 0px 10px 20px #17274938;
}
._carousel .slides-wrapper .boxes-wrapper {
    height: 100%;
    display: flex;
    /* border: 1px solid red; */
}
._carousel .boxes-wrapper .box {
    display: flex;
    flex: 0 0 200px;
    /* flex-basis: 300px; */
    /* height: 100%; */
    /* flex: 1; */
    align-items: center;
    justify-content: center;
}
._carousel .boxes-wrapper .box span {
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
}