@import "./variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box !important;
  text-decoration: none;
}
a{
  outline: none;
}
body {
  @include openSans();
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
:root{
  --bg: #19191b;
  --darkgray: rgb(119, 119, 119);
  --darkergray: rgb(90, 90, 90);
  --orange: #f67280;
  --lightyellow: #e6d3a7;
  --lightgray: rgb(238, 238, 238);
  --violet: #35477d;
  --lightbrown: #6c5b7b;
  --green: #59a985;
  --darkgreen: #3a7563;
}
body.dark-theme{
  background: var(--bg);
}
.animated {
  transition: all 0.3s ease;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.body-container{
  // margin: 0 auto;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  min-width: 320px;
  // @include border(blue);

  nav{
    display: flex;
    padding: 12px 0;

    a{
      padding: 4px 8px;
      color: $clr-blue;
    }
  }
}
.box-shadow{
  box-shadow: rgba(5, 5, 5, 0.1) 0px 10px 25px;
}
.center-items{
  align-items: center;
  justify-content: center;
}
.flex{
  display: flex;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-right{
  margin-left: auto;
}
.flex-left{
  margin-right: auto;
}
.rounded{
  border-radius: 5px;
}
.pointer{
  cursor: pointer;
}
button {
  @include useButton;
}
