@import "../../variables";

.storage-wrapper{
    padding: 20px 30px;
    // padding-bottom: 15px;
    width: $component-width; // All children widths depend on this
    background: $clr-darkgray-2;
    @include borderRadius();
    @include border($clr-darkgray-3);
    @include openSans();

    .size{
        height: 25px;
        .flex-right{ text-align: right }

        p:first-child{
            color: white;
        }
    }
    .progress-wrapper {
        height: 25px;
        color: white;
        display: flex;
        background: var(--violet);
        overflow: hidden;
        @include borderRadius();        

        .progress {
            height: 100%;
            background: var(--green);
        }
    }

    .storage-details{
        display: flex;
        color: var(--lightyellow);
        // margin-bottom: 10px;
        
        .icon {
            margin-right: 10px;
            margin-top: 2px;
            color: var(--green);
            // @include border(red);
        }
        .detail{
            min-width: 0; //Stop element from overflowing
            
            p {
                font-size: 0.7rem;
                color: var(--lightbrown);
                max-width: 100%;
            }
            .progress-parent{
                height: 5px;
                margin-top: 8px;
                margin-bottom: 2px;
                background: var(--violet);
                
                .progress{
                    height: 100%;
                    background: var(--green);
                }
            }
        }
    }

    .progress{
        @include transition(1.5s);
    }

    .selector-wrapper{
        display: grid;
        position: relative;
        place-items: center;
        @include boxShadowDark2();
        @include borderRadius();
        background: $clr-darkgray-3;
        cursor: pointer;

        .flex{
            @include centerItemsFlex();
            
            span{
                margin-right: 20px;
            }
            svg{
                stroke: $clr-green;
                height: 20px;
                width: 20px;
            }
        }

        .options-container{
            width: 100%;
            position: absolute;
            @include borderRadius();
            @include border($clr-darkgray-3);
            background: $clr-darkgray-2;
            overflow: hidden;

            .option{
                padding: 15px 20px;
                border-bottom: 1px solid $clr-darkgray-3;

                &:hover{
                    background: $clr-darkgray-3;
                }

                &:last-child{
                    border:none;
                }
            }
        }
    }
}

.storage-page-wrapper{
    width: 1024px;
    color: #fff;
    display: grid;
    grid-template-columns: $component-width 1fr;
    gap: 20px;
    @include border($clr-gray);
    
    .left-content{
        @include border(red);

        .headline{
            font-size: 3rem;
            @include openSans();
        }
    }
    .right-content{
        @include border(red);
    }
}